* {
    font-family: Helvetica;
}

.headers-titels {

    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.pictures-sale {
    margin-left: -39px;
}

.price-text {
    font-weight: bold;
    color: blue;
}

#title {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("./Image/pattern.jpeg");
    opacity: 0.8;
}

#frames-header {
    background-color: lightcoral;
}

#paint-header {
    background-color: skyblue;
}